
*{ 
    font-family:roboto, Montserrat,calibri;
}
.navbar{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.navbar,.dropdown-menu{
    background-color: black !important;
    color: rgb(15, 15, 14);
    font-weight: 700;
    
    
}
.nav-item a{border-radius: 30px;border: 2px solid black;}
.nav-item a:hover{color: red !important;border-radius: 30px;border: 2px solid red;}

.nav-link,.dropdown-item{color:white !important;}
.dropdown-menu a{
    font-weight:600;
}
.dropdown-menu a:hover{background-color: white !important;border-radius: 0%;border: 0px;
color: red !important;}
.navbar-toggler{background-color: red;z-index:1;}
.fa-facebook,.fa-instagram,.fa-twitter,.fa-youtube {font-size: 32px;} 
.cen{text-align: center;vertical-align: middle;padding: 5px !important;}
.facilities{width:320px;margin:20px;height: auto;padding:100px 0px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;background-color: red;color:white;display: inline-block;text-align: center;}
.facilitieswi{background-color: white;color: red;}
.facilities:hover{background-color: rgb(190, 183, 183);}
.headpic{width:100%;height:400px;margin-bottom: 2% ;  
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.line{display: inline-block;margin: 10px;}
     .footer{background-color: black;color: white;width: 100%;padding: 10px;vertical-align: middle;}
.footer >div{text-align: center;}
.cardpic{background-image: linear-gradient( gray,black);width: 100%;text-align: center;padding:50px 10px;color: red;font-weight: 600px;}

.cardpic:hover{background-image: linear-gradient( rgb(209, 50, 50),red);color: white;}
.trainers:hover {
    transform: scale(1.1)}
  .trainers{border-radius: 50%;
    width: 150px;}

.list-training{
    text-decoration: none;
    text-shadow: 1px;
}
.list-training :hover{color: red;}
.heading{text-align: center;margin-top: 2%;margin-bottom: 2%;}
.gmap{margin-top: 2%;}
.footer-link a{color: aliceblue;text-decoration: none;} 
.link{margin-right: 2%;}
.submitbtn{width: 100%;background-color: red;padding: 20px;}
.submitbtn :hover{background-color: black !important;}
@media screen and (max-width: 768px) {
    .facilities {
        margin: 5px;
        padding:50px 0px;
    }
    h1{font-size: 25px; font-family: lato,Arial, Helvetica, sans-serif;}
h4{font-size: 18px;}
  }